
/**
 * BuableBar logo.
 */

.logo[data-logo="BuableBar"] {
  width: 9.148415492957746em;
}

.logo[data-logo="BuableBar"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="BuableBar"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="BuableBar"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}